.body {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.choose-user {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: space-around;
  width: 100%;
}
.user-button {
  padding: 20px 40px;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background-color: #007bff; /* Bootstrap Primary Blue */
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
